<!DOCTYPE html>
<html lang="en" ng-app="stocksplitApp">
	<head>

		<!-- Bootstrap Core CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>
				
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="http://momentjs.com/downloads/moment.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.3.0/js/canvas-to-blob.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
		
 		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Angular -->
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>

		<script type="text/javascript">
			$(function () {
				$('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD'});
			});
		</script>

		<!-- our controllers -->
 		<!-- <script type="text/javascript" src="../js/controllers.js"> -->
 		<script type="text/javascript">
			'use strict';

			/* Controllers */

			var stocksplitApp = angular.module('stocksplitApp', []);

			stocksplitApp.controller('splitListCtrl', function($scope) {
			
		        $scope.clickFn = function() {
 					//alert("got the click " + $('#splitDateTime').val() );
					
					$scope.events.push(
					{
						name: 'New Split',
						description: "Test new split",
						
						issuer: 'Acme',
						marketCap: 12345678,
						sharesOutstanding: 34567,
						documents: false,
						
						eventStatus: 'pending',
						
						splitType: $('#splitType').val(),
						ratio: $('#splitRatio').val(),
						date: $('#splitDateTime').val(),
						shareType: $('#splitShareType').val(),
						minPercentSharholders:  $('#splitMinPercentShareholders').val(),
						minPercentYes:  $('#splitMinPercentYes').val(),
						voters: 2000,
						votesYes: 0,
						votesNo: 0
					});
				};

			  $scope.events = [
				{
					name: 'Split 1',
					description: "Test split 1",
					
					issuer: 'Dunder Mifflin',
					marketCap: 20000000,
					sharesOutstanding: 230000,
					documents: false,
					
					eventStatus: 'in progress',
					
					splitType: 'Stock Split',
					ratio: '2-for-1',
					date: '2016-05-11',
					shareType: 'Common B',
					minPercentSharholders: 80,
					minPercentYes: 51,
					voters: 1200,
					votesYes: 100,
					votesNo: 820
				},
				{
					name: 'Split 2',
					description: "Test split 2",
					
					issuer: 'Dunder Mifflin',
					marketCap: 150000000,
					sharesOutstanding: 5500000,
					documents: false,
					
					eventStatus: 'in progress',
					
					splitType: 'Stock Split',
					ratio: '2-for-1',
					date: '2016-04-01',
					shareType: 'Common A',
					minPercentSharholders: 80,
					minPercentYes: 51,
					voters: 1200,
					votesYes: 650,
					votesNo: 234
				},
					{
					name: 'Split 3',
					description: "Test split 3",
					
					issuer: 'Dunder Mifflin',
					marketCap: 200000,
					sharesOutstanding: 3000,
					documents: true,
					
					eventStatus: 'in progress',
					
					splitType: 'Stock Split',
					ratio: '2-for-1',
					date: '2016-02-29',
					shareType: 'Common A',
					minPercentSharholders: 80,
					minPercentYes: 51,
					voters: 1200,
					votesYes: 1,
					votesNo: 700
				}

			  ];
			});

		</script>


	</head>

 	<body>
		<header>
		  <h1 class="text-center">Company Page</h1>
		  <h2 class="text-center">- stock split history -</h2>
		  <br />
		</header>
		<section style="height: 100vh; border-bottom: 1px solid black">

			<div ng-controller="splitListCtrl">

				<!-- new stock split dialog -->
				<div class="container">
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#stockSplitModal">New Stock Split</button>
					<!-- Modal -->
					<div class="modal fade" id="stockSplitModal" role="dialog">
						<div class="modal-dialog">
						<!-- Modal content-->
							<div class="modal-content">

								<!-- <form ng-submit="clickFn()" class="form-signin" id="splitForm" method="post" action="" data-confirm="Ready to submit?"> -->
								<form class="form-signin" id="splitForm" action="">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">New Stock Split</h4>
									</div>
									<div class="modal-body">

										<p style="text-align: center;">To apply for a stock split event, please fill out the form below: </p>

										<div style="height: 50px; padding: .5em; text-align: left;">
											<div class="col-xs-6">
												<h5 style="font-weight: 300;"> Type of split: </h5>
											</div>
											<div class="col-xs-6">
												<div class="form-group">
												  <select class="form-control" id="splitType" name="splitType" required autofocus>
													<option>Stock Split</option>
													<option>Reverse Split</option>
													<option>3</option>
													<option>4</option>
												  </select>
												</div>
											</div> 
										</div>
										<div style="height: 50px; padding: .5em; text-align: left;">
											<div class="col-xs-6">
												<h5 style="font-weight: 300;"> Ratio of split: </h5>
											</div>
											<div class="col-xs-6">
												<div class="form-group">
												  <select class="form-control" id="splitRatio" name="splitRatio" required>
													<option>2-for-1</option>
													<option>3-for-2</option>
													<option>3-for-1</option>
												  </select>
												</div>
											</div> 
										</div>
										<div style="height: 50px; padding: .5em; text-align: left;">
											<div class="col-xs-6">
												<h5 style="font-weight: 300;"> Date of split: </h5>
											</div>
											<div class="col-xs-6">
												<div class="form-group">
													<div class='input-group date' id='datetimepicker1'>
														<input type='text' class="form-control" id="splitDateTime" name="splitDateTime" required />
														<span class="input-group-addon">
															<span class="glyphicon glyphicon-calendar"></span>
														</span>
													</div>
												</div>
											</div> 
										</div>
										<div style="clear:both; line-height:0;">
											<div style="height: 50px; padding: .5em; text-align: left;">
												<div class="col-xs-6">
													<h5 style="font-weight: 300;"> Affected share type: </h5>
												</div>
												<div class="col-xs-6">
													<div class="form-group">
													  <select class="form-control" id="splitShareType" name="splitShareType" required>
														<option>Common A</option>
														<option>Common B</option>
														<option>Preferred A</option>
														<option>Preferred B</option>
													  </select>
													</div>
												</div> 
											</div>
										</div>
										<div>
											<p style="text-align: center;">Acceptance Criteria </p>
											<div style="height: 50px; padding: .5em; text-align: left;">
												<div class="col-xs-6">
													<h5 style="font-weight: 300;">Minimum % of Shareholders: </h5>
												</div>
												<div class="col-xs-6">
													<div class="form-group">
													  <input type="text" class="form-control" id="splitMinPercentShareholders" name="splitMinPercentShareholders" min="1" max="100" value="80" readonly required>
													</div>
												</div> 
											</div>
											<div style="height: 50px; padding: .5em; text-align: left;">
												<div class="col-xs-6">
													<h5 style="font-weight: 300;">Minimum % to Say Yes: </h5>
												</div>
												<div class="col-xs-6">
													<div class="form-group">
													  <input type="text" class="form-control" id="splitMinPercentYes" name="splitMinPercentYes" min="1" max="100" value="51" readonly required>
													</div>
												</div> 
											</div>
											
										</div>
										<div>
											<div style="height: 50px; padding: .5em; text-align: left;">
												<div class="col-xs-6">
													<h5 style="font-weight: 300;" >Relevant Documents (.zip): </h5>
												</div>
												<div class="col-xs-6">
													<div class="form-group">
														disabled
													</div>
												</div> 
											</div>
										</div>
										<div>
											<button ng-click="clickFn()" type="button" class="btn btn-default btn-primary" data-dismiss="modal">Submit</button>
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										</div>
									</div>
								</form>
 
								</div>
							<div class="modal-footer">
							</div>
						</div>
					</div>
				</div>

<!-- 				<div>
					<form ng-submit="clickFn()">
						<input type="submit" value="Add New TEST">
					</form>				
				</div>
 -->
				<!-- stock split main list -->
				<!-- <div ng-controller="splitListCtrl"> -->
				<div>
					<div class="container">
						<div class="col-sm-18 col-sm-offset-0">
							<div class="list-group">
								<table class="table table-hover">
									<colgroup>
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-3">
										<!-- <col class="col-md-2"> -->
									</colgroup>
									<thead>
										<tr> 
											<th> Issuer </th>
											<th> Market Cap. </th>
											<th> Shares Outstanding </th>
											<th> Event</th>
											<th> Date</th>
											<th> Event Status </th>
											<th> Documents </th>
											<th> Vote Result </th>
											<!-- <th> Approve Event </th> -->
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="event in events | orderBy:'-date'">
											<td> {{event.issuer}}</td>
											<td> {{event.marketCap | currency}}</td>
											<td> {{event.sharesOutstanding}}</td>
											<td> {{event.ratio}} {{event.splitType}} </td>
											<td> {{event.date | date}}</td>
											<td> {{event.eventStatus}}</td>
											<td>
												 <div ng-switch="event.documents">
													<div ng-switch-when="true">
														<a>Yes</a>
													</div>
													<div ng-switch-when="false">
														No
													</div>
													<div ng-switch-default>
														?
													</div>
												</div>
											</td>
											<td>
											{{event.votesYes > event.votesNo ? 'Yes: ' + ( event.votesYes / event.voters * 100 | number:2) : 'No: ' + (event.votesNo / event.voters * 100 | number:2 ) }}
											</td>
											<!-- <td><input type="radio" id='regular' name="optradio"></td> -->
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
	</body>
</html>
