<!DOCTYPE html>
<html lang="en" ng-app="votingApp">
	<head>

		<!-- Bootstrap Core CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>
				
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="http://momentjs.com/downloads/moment.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.3.0/js/canvas-to-blob.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
		
 		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Angular -->
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>

		<script type="text/javascript">
			$(function () {
				$('#datetimepicker1').datetimepicker();
			});
		</script>

		<!-- our controllers -->
 		<!-- <script type="text/javascript" src="../js/controllers.js"> -->
 		<script type="text/javascript">
			'use strict';

			/* Controllers */
			
			var targetRow = null;

			var votingApp = angular.module('votingApp', []);

			votingApp.controller('voteListCtrl', function($scope) {
			
				// record the vote
 		        $scope.voteFn = function(voted) {

//					alert("vote: " + voted );
//					alert("target row: " + targetRow);
					
					// do something here to record the vote in the blockchain...
					
					// update the array for display purposes
					$scope.votes[targetRow].shareholderVoted = true;

					/*
					if (voted) {
						$scope.votes[targetRow].votesYes = $scope.votes[targetRow].votesYes + 1;
					}
					else {
						$scope.votes[targetRow].votesno = $scope.votes[targetRow].votesNo + 1;
					}
*/

					// Add another row just to test more
					$scope.votes.push(
					{
						name: 'New Split',
						description: "Test new split",
						
						issuer: 'Acme',
						marketCap: 12345678,
						sharesOutstanding: 34567,
						documents: false,
						
						eventStatus: 'pending',
						
						splitType: '1',
						ratio: '1',
						date: '1',
						shareType: '1',
						minPercentSharholders:  '1',
						minPercentYes:  '1',
						voters: 2000,
						votesYes: 0,
						votesNo: 0,
					
						shareholderVoted: false
					});
				};

				// which row was clicked for voting
 		        $scope.rowSetFn = function(id) {
					targetRow = id;
				};

			  $scope.votes = [
				{
					name: 'Split 1',
					description: "Test split 1",
					
					issuer: 'Dunder Mifflin',
					marketCap: 20000000,
					sharesOutstanding: 230000,
					documents: false,
					
					eventStatus: 'in progress',
					
					splitType: 'Stock Split',
					ratio: '2:1',
					date: '2016-05-11',
					shareType: 'Common B',
					minPercentSharholders: 80,
					minPercentYes: 51,
					voters: 1200,
					votesYes: 100,
					votesNo: 820,
					
					shareholderVoted: false
					
				},
				{
					name: 'Split 2',
					description: "Test split 2",
					
					issuer: 'Dunder Mifflin',
					marketCap: 150000000,
					sharesOutstanding: 5500000,
					documents: false,
					
					eventStatus: 'in progress',
					
					splitType: 'Stock Split',
					ratio: '2:1',
					date: '2016-04-01',
					shareType: 'Common A',
					minPercentSharholders: 80,
					minPercentYes: 51,
					voters: 1200,
					votesYes: 650,
					votesNo: 234,
					
					shareholderVoted: true
				},
					{
					name: 'Split 3',
					description: "Test split 3",
					
					issuer: 'Dunder Mifflin',
					marketCap: 200000,
					sharesOutstanding: 3000,
					documents: true,
					
					eventStatus: 'in progress',
					
					splitType: 'Stock Split',
					ratio: '2:1',
					date: '2016-02-29',
					shareType: 'Common A',
					minPercentSharholders: 80,
					minPercentYes: 51,
					voters: 1200,
					votesYes: 1,
					votesNo: 700,
					
					shareholderVoted: true

				}

			  ];
			});

		</script>


	</head>

 	<body>
		<header>
		  <h1 class="text-center">Shareholder Page</h1>
		  <h2 class="text-center">- stock votes -</h2>
		  <br />
		</header>
		<section style="height: 100vh; border-bottom: 1px solid black">

			<div ng-controller="voteListCtrl">

				<!-- new stock split dialog -->
				<div class="container">
					<!-- Modal -->
					<div class="modal fade" id="voteModal" role="dialog">
						<div class="modal-dialog">
						<!-- Modal content-->
							<div class="modal-content">
								<form class="form-signin" id="splitForm" action="">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Stock Split Vote</h4>
									</div>
									<div class="modal-body">
										<p style="text-align: center;">.</p>
										<div style="height: 50px; padding: .5em; text-align: left;">
											<div class="col-xs-6">
												<h5 style="font-weight: 300;"> Vote choice: </h5>
											</div>
										</div>
										<div>
											<input ng-click="voteFn(true)" type="submit" class="btn btn-info btn-success" value="Yes" data-dismiss="modal">
											<input ng-click="voteFn(false)" type="submit" class="btn btn-info btn-danger" value="No" data-dismiss="modal">

											<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

										</div>
									</div>
								</form>
 
								</div>
							<div class="modal-footer">
							</div>
						</div>
					</div>
				</div>

				<!-- stock voting main list -->
				<div>
					<div class="container">
						<div class="col-sm-18 col-sm-offset-0">
							<div class="list-group">
								<table class="table table-hover">
									<colgroup>
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<!-- <col class="col-md-2"> -->
										<col class="col-md-3">
										<!-- <col class="col-md-2"> -->
									</colgroup>
									<thead>
										<tr> 
											<th> Issuer </th>
<!-- 											<th> Market Cap. </th>
											<th> Shares Outstanding </th>
 -->											<th> Event</th>
											<th> Date</th>
											<th> Event Status </th>
<!-- 											<th> Documents </th>
 -->											<th> Vote</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="vote in votes">
											<td> {{vote.issuer}}</td>
											<td> {{vote.ratio}} {{vote.splitType}} </td>
											<td> {{vote.date | date}}</td>
											<td> {{vote.eventStatus}}</td>
<!--
											<td>
												<div ng-switch="vote.documents">
													<div ng-switch-when="true">
														<a>Yes</a>
													</div>
													<div ng-switch-when="false">
														No
													</div>
													<div ng-switch-default>
														?
													</div>
												</div>
											</td>
-->
											<td>
												<div ng-switch on="!vote.shareholderVoted">
													<span ng-switch-when="true">
														<button ng-click="rowSetFn( $index )" type="button" class="btn btn-info"  data-toggle="modal" data-target="#voteModal">Vote</button>
													</span>
													<span ng-switch-default>
														<div ng-switch on="vote.votesYes > vote.votesNo">
															<span style="color:green;" ng-switch-when="true">
																{{'Yes: ' + ( vote.votesYes / vote.voters * 100 | number:2) + "%"}}
															</span>
															<span style="color:red;" ng-switch-default>
																{{'No: ' + (vote.votesNo / vote.voters * 100 | number:2 ) + "%" }}
															</span>

															<!-- {{vote.votesYes > vote.votesNo ? 'Yes: ' + ( vote.votesYes / vote.voters * 100 | number:2) + "%" : 'No: ' + (vote.votesNo / vote.voters * 100 | number:2 ) + "%" }} -->

													</span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
	</body>
</html>
