<!DOCTYPE html>
<html lang="en" ng-app="stocksplitApp">
	<head>

		<link rel="icon" href="img/favicon.ico">
		<title>Deloitte Rubix Stock Split Demo</title>

		<!-- Bootstrap Core CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>
				
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="http://momentjs.com/downloads/moment.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.3.0/js/canvas-to-blob.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
		
 		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Angular -->
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>

		<script type="text/javascript">
			$(function () {
				$('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD'});
			});
		</script>

		<!-- our controllers -->
 		<script type="text/javascript" src="../js/splitController.js"></script>

	</head>

 	<body>
		<header>
			<h2 class="display-3; text-center" style="font-family:arial black;">
				<img src="../img/stock.png" height="30">
				Corporate
			</h2>
			<h4 class="text-center" style="font-family:arial black;">
				Stock Split History
			</h4>
			<br />
		</header>
		<section style="height: 50vh; ">

			<div ng-controller="splitListCtrl">

				<!-- new stock split dialog -->
				<div class="container">
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#stockSplitModal">New Stock Split</button>
					<!-- Modal -->
					<div class="modal fade" id="stockSplitModal" role="dialog">
						<div class="modal-dialog">
						<!-- Modal content-->
							<div class="modal-content">

								<!-- <form ng-submit="clickFn()" class="form-signin" id="splitForm" method="post" action="" data-confirm="Ready to submit?"> -->
								<form class="form-signin" id="splitForm" action="">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title" style="font-family:arial black;">New Stock Split</h4>
									</div>
									<div class="modal-body">

										<p style="text-align: center;"><b>To apply for a stock split event, please fill out the form below: </b></p>

										<div style="height: 50px; padding: .5em; text-align: left;">
											<div class="col-xs-6">
												<h5 style="font-weight: 300;"> Type of split: </h5>
											</div>
											<div class="col-xs-6">
												<div class="form-group">
												  <select class="form-control" id="splitType" name="splitType" required autofocus>
													<option>Stock Split</option>
													<option>Reverse Split</option>
													<option>3</option>
													<option>4</option>
												  </select>
												</div>
											</div> 
										</div>
										<div style="height: 50px; padding: .5em; text-align: left;">
											<div class="col-xs-6">
												<h5 style="font-weight: 300;"> Ratio of split: </h5>
											</div>
											<div class="col-xs-6">
												<div class="form-group">
												  <select class="form-control" id="splitRatio" name="splitRatio" required>
													<option>2-for-1</option>
													<option>3-for-2</option>
													<option>3-for-1</option>
												  </select>
												</div>
											</div> 
										</div>
										<div style="height: 50px; padding: .5em; text-align: left;">
											<div class="col-xs-6">
												<h5 style="font-weight: 300;"> Date of split: </h5>
											</div>
											<div class="col-xs-6">
												<div class="form-group">
													<div class='input-group date' id='datetimepicker1'>
														<input type='text' class="form-control" id="splitDateTime" name="splitDateTime" required />
														<span class="input-group-addon">
															<span class="glyphicon glyphicon-calendar"></span>
														</span>
													</div>
												</div>
											</div> 
										</div>
										<div style="clear:both; line-height:0;">
											<div style="height: 50px; padding: .5em; text-align: left;">
												<div class="col-xs-6">
													<h5 style="font-weight: 300;"> Affected share type: </h5>
												</div>
												<div class="col-xs-6">
													<div class="form-group">
													  <select class="form-control" id="splitShareType" name="splitShareType" required>
														<option>Common A</option>
														<option>Common B</option>
														<option>Preferred A</option>
														<option>Preferred B</option>
													  </select>
													</div>
												</div> 
											</div>
										</div>
										<div>
											<p style="text-align: center;"><b>Acceptance Criteria </b></p>
											<div style="height: 50px; padding: .5em; text-align: left;">
												<div class="col-xs-6">
													<font color="gray">
													<h5 >Minimum % of Shareholders: </h5>
													</font>
												</div>
												<div class="col-xs-6">
													<div class="form-group">
													  <input type="text" class="form-control" id="splitMinPercentShareholders" name="splitMinPercentShareholders" min="1" max="100" value="80" readonly required>
													</div>
												</div> 
											</div>
											<div style="height: 50px; padding: .5em; text-align: left;">
												<div class="col-xs-6">
													<font color="gray">
													<h5 style="font-weight: 300;">Minimum % to Say Yes: </h5>
													</font>
												</div>
												<div class="col-xs-6">
													<div class="form-group">
													  <input type="text" class="form-control" id="splitMinPercentYes" name="splitMinPercentYes" min="1" max="100" value="51" readonly required>
													</div>
												</div> 
											</div>
											
										</div>
										<div>
											<div style="height: 50px; padding: .5em; text-align: left;">
												<div class="col-xs-6">
													<font color="gray">
													<h5 style="font-weight: 300;" disabled>Relevant Documents (.zip): </h5>
													</font>
												</div>
												<div class="col-xs-6">
													<div class="form-group" disabled>
														<font color="gray">
														N/A
														</font>
													</div>
												</div> 
											</div>
										</div>
										<div>
											<button ng-click="clickFn()" type="button" class="btn btn-default btn-primary" data-dismiss="modal">Submit</button>
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										</div>
									</div>
								</form>
 
								</div>
							<div class="modal-footer">
							</div>
						</div>
					</div>
				</div>

<!-- 				<div>
					<form ng-submit="clickFn()">
						<input type="submit" value="Add New TEST">
					</form>				
				</div>
 -->
				<!-- stock split main list -->
				<!-- <div ng-controller="splitListCtrl"> -->
				<div>
					<div class="container">
						<div class="col-sm-28 col-sm-offset-0">
							<div class="list-group">
								<table class="table table-hover">
									<colgroup>
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-2">
										<col class="col-md-1">
										<col class="col-md-3">
										<!-- <col class="col-md-2"> -->
									</colgroup>
									<thead>
										<tr> 
											<th> Issuer </th>
											<th> Market Cap. </th>
											<th> Shares Outstanding </th>
											<th> Event</th>
											<th> Date</th>
											<th> Event Status </th>
											<th> Documents </th>
											<th> Vote Result </th>
											<!-- <th> Approve Event </th> -->
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="event in events | orderBy:'-date'">
											<td> {{event.issuer}}</td>
											<td> {{event.marketCap | currency}}</td>
											<td> {{event.sharesOutstanding}}</td>
											<td> {{event.ratio}} {{event.splitType}} </td>
											<td> {{event.date | date}}</td>
											<td> {{event.eventStatus}}</td>
											<td>
												 <div ng-switch="event.documents">
													<div ng-switch-when="true">
														<a>Yes</a>
													</div>
													<div ng-switch-when="false">
														No
													</div>
													<div ng-switch-default>
														?
													</div>
												</div>
											</td>
											<td>
												<div ng-switch on="event.eventStatus === 'pending'">
													<span ng-switch-when="true">
														N/A
													</span>
													<span ng-switch-default>
														<div ng-switch on="event.votesYes > event.votesNo">
															<span style="color:green;" ng-switch-when="true">
																{{'Yes: ' + ( event.votesYes / event.voters * 100 | number:2) + "%"}}
															</span>
															<span style="color:red;" ng-switch-default>
																{{'No: ' + (event.votesNo / event.voters * 100 | number:2 ) + "%" }}
															</span>
													</span>
												</div>
											</td>
											<!-- <td><input type="radio" id='regular' name="optradio"></td> -->
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
		<footer>
			<div class="col-sm-6 col-sm-offset-3" style="border-top: 1px solid black">
				<table width="100%">
					<tr>
						<td>
							<img src="../img/deloitte_small.gif" >
							<a href="http://rubixbydeloitte.com/index.html" target="_new"><img src="../img/rubix.svg" height="30" class="logo" alt="rubix logo vectorized"></a>
						</td>
						<td>
					 <a href="/" class="text-right">Log out</a>
						</td>
					</tr>
				</table>
			</div>
		</footer>
	</body>
</html>
